body {
  background-color: rgb(96, 150, 231);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: rgb(2, 14, 53);
  font-size: 16px;
}

.card {
  border: 1px solid #1a1a1a;
  margin-bottom: 1rem;
}

.card .card-header {
  padding: 0.375rem;
  background-color: #2d3e50;
  color: #d9e9e8;
}

.card .card-body {
  padding: 0.375rem;
}

.card .card-footer {
  border-top: 1px solid #1a1a1a;
  padding: 0.375rem;
}
